---
const { name, bio, avatar } = Astro.props;
---

<div>
  <img src={avatar} alt={`Headshot of ${name}`} />
  <p>
    Hi, I'm <strong>{name}</strong>. {bio}
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
