---
import FontAwesomeIcon from "./FontAwesomeIcon.astro";
import { faXTwitter, faFacebook, faLinkedin } from "@fortawesome/free-brands-svg-icons";
import { faLink } from "@fortawesome/free-solid-svg-icons";

const { url, platform } = Astro.props;

const icons = {
  twitter: faXTwitter,
  facebook: faFacebook,
  linkedin: faLinkedin,
  copy: faLink,
};
---

<a href={url} target="_blank" class="icon-link" aria-label={`Share on ${platform}`}>
  <FontAwesomeIcon iconName={icons[platform]} />
</a>

<style>
  .icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 10px;
  }
  .icon-link svg {
    width: 24px;
    height: 24px;
    fill: #007acc;
    transition: fill 0.2s ease-in-out;
  }
  .icon-link:hover svg {
    fill: #005a99;
  }
  @media (prefers-color-scheme: dark) {
    .icon-link svg {
      color: white !important;
      fill: white !important;
    }
  }
</style>